

/*@media only screen and (max-width: 1200px) {
   

    .footer{
        width: 100%;
    }

}*/

/*@media only screen and (max-width: 1140px) {
    .menu_inicial{
        width: 85em;
        
    }
    .footer{
        width: 85em; 
    }

    .meio{
        margin-left: 15em;
   

    }

    .procura{
    left: 20em;
    float: left;
    border: solid red 2px;
        

    }
    .pagination{

        left: 450px;
        
        position: relative;
        
    }
    .resultado_pesquisa{
        margin-top: 20px;
        float: center;
        margin-left: 70em;
        position: relative;
        border: solid red 2px;
    }

}

 */



footer{
    margin-top: 20px;
    position: absolute;
    background-color: #4F4F4F;
    width: 100%;
   
}

body{
    

}