

@media only screen and (width: 400px) {
    .menu_inicial{
     width: 100em;
    }
  


}


footer{
    margin-top: 10px;
    position: absolute;
    background-color: #4F4F4F;
    max-width: 100%;
   
}