.menu_inicial{

border: solid 1px white;
font-size: 20px;
position:static;
color: white;
}
.espaco{
margin-left:0px;
font-family:fantasy;
}

.meio {
    height: 1000px;
    margin-top: -20px;
    position: static;
    order: 2;
}

.footer {
    margin-top: 200px;
    position: static;
    
    bottom: 1;
    background-color: #4F4F4F;

   
}
/*ferramenta de pesquisa */
.procura{
margin-top: 30px;
}

.dividir{

width: 3px;;
height: 33px;
color:red;
background: #696969;
}
