.foto1 {
    position: absolute;
    margin-right: 66%;
}

.foto2 {
    position: absolute;
    top: 0;
}

.foto3 {
    position: absolute;
    margin-left: 65%;
}

.foto4 {
    position: absolute;
    margin-right: 65%;
}

.foto5 {
    position: absolute;
    top: 0;
}

.foto6 {
    position: absolute;
    margin-left: 66%;
}

.entrada1 {
    width: 80%;
}

.entrada2 {
    width: 80%;
}

.entrada2:invalid {
    color: red;
}

.entrada3 {
    width: 50%;
    color: black;
}

.entrada3:invalid {
    color: red;
}

.entrada3:valid {
    color: ;
    box-shadow: 0px 2px 5px 1px rgb(16, 250, 55);
}

.entrada4 {
    width: 50%;
}

.entrada4:invalid {
    color: red;
}