.foto1 {
    position: absolute;
    margin-right: 66%;
}

.foto2 {
    position: absolute;
    top: 0;
}

.foto3 {
    position: absolute;
    margin-left: 65%;
}

.foto4 {
    position: absolute;
    margin-right: 65%;
}

.foto5 {
    position: absolute;
    top: 0;
}

.foto6 {
    position: absolute;
    margin-left: 66%;
}