.foto1 {
    position: absolute;
    margin-right: 66%;
}

.foto2 {
    position: absolute;
    top: 0;
}

.foto3 {
    position: absolute;
    margin-left: 65%;
}

.foto4 {
    position: absolute;
    margin-right: 65%;
}

.foto5 {
    position: absolute;
    top: 0;
}

.foto6 {
    position: absolute;
    margin-left: 66%;
}

.entrada1 {
    width: 80%;
}

.entrada2 {
    width: 80%;
}

.entrada2:invalid {
    color: red;
}

.entrada2:valid {
    box-shadow: 0px 0px 2px 1px rgb(10, 12, 148);
}

.entrada3 {
    width: 50%;
    color: black;
}

.entrada3:invalid {
    color: red;
    box-shadow: 0px 2px 5px 1px rgb(250, 16, 16);
}

.entrada3:valid {
    box-shadow: 0px 0px 2px 1px rgb(5, 117, 11);
}

.entrada4 {
    width: 50%;
}

.entrada4:invalid {
    color: red;
    box-shadow: 0px 2px 5px 1px rgb(250, 16, 16);
}

.entrada4:valid {
    box-shadow: 0px 0px 2px 1px rgb(117, 5, 93);
}

.entrada5:hover {
    color: white;
    background: blue;
    border: solid white 2px;
}