@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pangolin&family=Playfair+Display&display=swap');

 .polaroid{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .container {
    padding: 10px;
  }
  
  .meio {
    height: auto;
    width: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-top: 50px;
    position: static;
   
}



/*ferramenta de pesquisa */
.procura{
border: solid 1px rgb(0, 0, 0);
width: 800px;
margin-top: 20px;
margin-left: 17em;
position: static ;

}
.pesquisar_bt{
width: 100px;

}

.resultado_pesquisa{

position: relative;
top: 40px;
left: -500px;
}

