
 .polaroid{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .container {
    padding: 10px;
  }
  .meio {
    height: 1000px;
    margin-top: 30px;
    position: static;
    order: 2;
     ;
}

.pesquisar_bt{
width: 100px;
}

/*ferramenta de pesquisa */
.procura{
margin-top: 30px;
}