@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

 .polaroid{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .container {
    padding: 10px;
  }
  
  .meio {
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left:auto ;
    margin-top: 30px;
    position: relative;
   
}



/*ferramenta de pesquisa */
.procura{
margin-top: 30px;
position: static;

}
.pesquisar_bt{
width: 100px;
}

.resultado_pesquisa{

margin-top: 10px;


}

