

.menu_inicial{
border: ;
font-size: 20px;
position:fixed;
color: black;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
height: 40px;
width: 100%;
background:  #4CAF50;
margin-top: -90px;
font-family: sans-serif;
}
 



.projeto,.escola,.programas,.jogos,.tutoriais {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.pj1,.pj2 ,.pj3,.pj4,.pj5 {
  display: none; 
  color: #000;
  padding: 1px 6px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}

.active{
  display: block; 
  color: #000;
  padding: 8px 8px;
  text-decoration: none; 
}



li a.active {
  background-color: #4CAF50;
  color: white;
 
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;


}
.logo{
float: left;
margin-left: 30px;
margin-top: 5PX;
background: #4CAF50;
width:110px; 

}
.projeto{

float: left;
margin-left: 30px;
position: ;
}
.escola{
float: left;
margin-left: 0px;

}

.programas{
float: left;
margin-left: 0px;

}
.jogos{
float: left;
margin-left:0px;

}
.tutoriais{
float: left;
margin-left: 0px;

}
