/* inicio da caixa para contato  */

.letra {
    font-size: 25px;
    width: 100%;
    margin-bottom: 10px;
}

.menu {
    position: relative;
    /* border: red 1px solid; */
}

.contato-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.box {
    width: 12cm;
    height: 100%;
    text-align: center;
    border: solid black 1px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.formulario {
    /* border: solid red 2px; */
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

input.sem-border {
    position: relative;
    height: 20px;
    font-size: 15px;
    border-style: ridge;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #e9ecef;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

input.sem-border::placeholder {
    text-align: center;
}

.texto_do_cliente {
    height: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.encaminhar_cliente {
    width: 40%;
    margin-right: -20px;
}

.nome_ {
    position: relative;
    left: -20px;
}

.telefone_ {
    position: relative;
    left: -66px;
}

.instagram_ {
    position: relative;
    left: -72px;
    display: none;
}

textarea {
    border: none;
    margin-top: 10px;
    border-color: transparent;
}