.box {
    width: 40%;
    height: 100%;
    border: solid black 3px;
    position: relative;
    left: 50px;
}

.sem-border:focus {
    /* border-top: none;
    border-left: none;
    border-right: none; */
    /* box-shadow: 1px 1px 3px 1px; */
    outline: 0;
    border: 0 none;
}