    body {
        margin: 0;
        overflow-x: hidden;
        background-color: #e9ecef;
    }
    /* menu inicial  */
    
    .menu-home {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 1.5cm;
        background-color: #040405;
        display: flex;
        box-shadow: 2px 2px 2px 2px;
    }
    
    .flex-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    
    .opcao {
        position: relative;
        width: 60px;
        height: 50px;
        right: 40px;
        top: 5px;
        cursor: pointer;
    }
    
    .reta {
        list-style: none;
        height: 5px;
        width: 50px;
        background-color: white;
        position: absolute;
        right: 10%;
        top: 8px;
        border-radius: 35%;
    }
    
    .v {
        right: 10%;
        top: 22px;
    }
    
    .z {
        right: 10%;
        top: 36px;
    }
    
    .logo {
        position: relative;
        top: -10px;
        width: 70px;
        height: 70px;
        left: 30px;
        cursor: pointer;
        /* border: red 3px solid; */
    }
    /* tema principal */
    
    .tema {
        font-size: 50px;
        text-shadow: 2px 2px 5px rgb(97, 96, 96);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .content-t {
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
        border: red 1px solid;
        height: 100px;
        width: 100%;
        position: relative;
        top: 90px;
    }
    
    .barra-esquerda:before {
        background-image: linear-gradient(270deg, #8d8a8a, transparent);
        position: absolute;
        content: "";
        width: calc(40vw - 200px);
        height: 2px;
        top: 19%;
    }
    
    .barra-direita:before {
        background-image: linear-gradient(90deg, #8d8a8a, transparent);
        position: absolute;
        content: "";
        width: calc(40vw - 200px);
        height: 2px;
        top: 19%;
        right: 0;
    }
    /* tela do meio */
    
    .content-timeline {
        position: relative;
        display: flex;
        border: solid red 2px;
        top: 200px;
        height: 100%;
        width: 100%;
    }
    /* inicio da caixa para contato  */
    
    .contato-box {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .box {
        width: 12cm;
        height: 100%;
        text-align: center;
        border: solid black 3px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .sem-border:focus {
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: 1px 1px 3px 1px;
        background-color: #e9ecef;
        border-color: #e9ecef;
    }
    /* -------------------------------------------------------- */
    /*  */
    /* logo do site  */
    
    .sobre-box {
        position: relative;
        text-align: center;
    }
    
    .tela-logo {
        width: 100%;
        height: 100%;
        border: black solid 1px;
        position: relative;
    }
    
    .logo-box {
        width: 5cm;
        height: 5cm;
        border-radius: 50%;
        background-color: white;
        /* border: solid rgb(0, 0, 0) 2px; */
        box-shadow: 2px 2px 5px 2px;
    }