@media only screen and (max-width:768px) {
    .content-timeline {
        flex-direction: column;
        width: 100%;
    }
    .tela-logo {
        left: 50%;
        transform: translatex(-50%);
        margin-top: 10%;
        margin-bottom: 10%;
    }
    /* tela do meio */
    .content-timeline {
        margin-top: 32%;
    }
    .contato-box {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .area1>textarea {
        width: 200px;
        /* border: solid red 2px; */
    }
}