/* menu inicial para selecionar  */

.menu_inicial {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    border-bottom: #ccc solid 2px;
  width: 100%;
  }
  
  .p1,.s1,.t1 ,.l1 {
    float: left;
  }
  
  .p1,.s1,.t1,.l1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;

  }
  
  li a:hover:not(.active) {
    background-color: rgb(6, 219, 52);
  }
  









.logo{
float: left;
margin-left: 10px;
margin-top: -2px;
}



/* parte da rede social ----------------------------------------------------------------------- */
.tela_social{

  top: 20px;
  height: 170px;
  position: static; 
}

.youtube,.github ,.instagram{
    border: solid black   1px ;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-shadow: 0px 0px 10px  black;
    
}

.github,.g1{
  left:50%;
  position: absolute;
  transform:translateX(-50%);
}
.g1{
  pointer-events: none;
  top: 190px;
}

.youtube,.y1{
  transform:translateX(-50%);
    left: 100px;
    position: absolute;    
  }
  .y1{
    pointer-events: none;
    top: 190px;
  }
  
  .instagram,.i1{
    transform:translateX(50%);
  /* margin-top: -300px; */
    right: 100px;
    position:absolute;
}
.i1{
  pointer-events: none;
  top: 190px;
}

/* parte dos videos ------------------------------------------------------------------ */

.tela_youtube{
  display: block;

  height: 300px;
  top: 10px;
  position: static;
  }

.quadrado{
border: solid black 1px;
width: 200px;
height: 200px;
margin-top: 30px;

}
.q1{
    left: 180px;
    position:absolute;
}

.q2{
    left: 400px;
    
    position: absolute;
}
.q3 {
    right: 180px;
    position: absolute;
} 
.q4 {
    right: 400px;
    position: absolute;
} 
 

.footer{
text-align: center;
border: solid 1px  white;
border-top:#ccc solid 2px;
background-color:#f8f9fa;
position: absolute;
height: 20px;
width: 100%;

padding-bottom: 10px;
padding-top: 10px;

bottom:0;
}
.inst{
  color: red;
  margin-top: -20px;
    
}
body{
  margin: 0;
  overflow-x: hidden;
  background-color: #e9ecef;
}
