
body{
  margin: 0;
  overflow-x: hidden;
  background-color: #e9ecef;
}

/* letra geral ------------------------------------------------------------ */
.letra{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/* final letra------------------------------------------------------------- */


/* menu inicial --------------------------------------------------------------- */
.menu_inicial {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    border-bottom: #ccc solid 2px;
    width: 100%;
  height: 50px;
  }
  
  .p1,.s1,.t1 ,.l1 {

    border: solid 1px red;
    position: relative;
    left: 50%;
    transform: translateX(-100%);
    float: left;
    display: block;
    color: rgb(12, 12, 12,10);
    text-decoration: none;
    padding: 5px;
  
  }
  
 

  
 .bt_1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border: solid  blue 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 border-radius: 90%;
  transition-duration: 0.2s;
  cursor: pointer;
 background-color: white; 
  color: black; 
  border: 1px solid #ccc;
  width: 80px;
  height: 50px;
  position: absolute;
}
.b1{
  left: 10%;
}
.b2{
    left: 50%;
    transform: translateX(-50%);
}
.b3{
  right: 10%;
}
.sub_menu{
  
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 500px;

}


.bt_1:hover {
  background-color: black;
  color: white;
}



  


/* logo da img --------------------------------------------------------- */
.logo{
float: left;
margin-left: 10px;
margin-top: -2px;
}




/* parte da rede social ----------------------------------------------------------------------- */
.tela_social{

  height: 170px;
  position: relative; 
}

.youtube,.github ,.instagram{

    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-shadow: 0px 0px 10px  black;
      
}

.github,.g1{
  left:50%;
  position: absolute;
  transform:translateX(-50%);
}
.g1{
  pointer-events: none;
  top: 110px;
  color: black;
}

.youtube,.y1{
  transform:translateX(-50%);
    left: 100px;
    position: absolute;    
  }
  .y1{
    pointer-events: none;
    top: 110px;
    color: black;
   
  }
  .instagram,.i1{
    transform:translateX(50%);
  /* margin-top: -300px; */
    right: 100px;
    position:absolute;
}
.i1{
  pointer-events: none;
  top: 110px;
  color: black;

}

/* texto do meio code programado */
.tema{
  top: -20px;
  position: relative;
    font-size: 50px;
  
  }
  /* timeline da pagina  */
  .timeline{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(255, 255, 255);
    border: solid 3px #ccc;
    height: 1800px;
  }
  .sub_quadrado1{
    width: 100%;
    height: 500px;
    border: solid 1px red;

  }

/* parte do youtube ------------------------------------------------------------------ */

.tela_youtube{
  /* border: solid red 1px; */
  width: 100%;
  height: 310px;
  position: relative;

  }

  iframe{
    width: 400px;
    height: 350px;
  }


.quadrado{
border: solid black 1px;
width: 300px;
height: 250px;
margin-top: 30px;
position: relative;
left: -7%;

}
.q1{
  top: 30px;
}

.q2{
  
  top: 30px;
    
}
.q3 {
    
  top: 30px;
} 
.q4 {
 
  top: 30px;
} 
 
/* parte do hodapé ----------------------------------------------------------------------------*/
.footer{
text-align: center;
border: solid 1px  white;
border-top:#ccc solid 2px;
background-color:#f8f9fa;
position: static;
height: 20px;
width: 100%;
padding-bottom: 10px;
padding-top: 10px;
bottom:0;
}

.inst{
  color: rgb(36, 14, 226);
  margin-top: -20px;
  
}
.inst1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}
