.tela_portfolio {
    width: 100%;
    height: 100%;
    position: relative;
    /* border: solid red 2px; */
}

.space_div2 {
    height: 100%;
    width: 100%;
    position: relative;
    /* border: red solid 2px; */
}

.quadrado_p1 {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    background-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30%;
    text-align: center;
}

.primeira_coluna_p1 {
    /* border: solid red 3px; */
    display: flex;
    justify-content: space-between;
    list-style: 10px;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.25));
}

.imagem_p {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    position: relative;
    cursor: pointer;
}

.letra_centro {
    width: 100%;
    /* border: solid red 3px; */
    position: relative;
    top: 15px;
}

.pagina {
    width: 100%;
    height: 200px;
    /* border: solid red 3px; */
    text-align: center;
}

.portfolio_mostra {
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(97, 96, 96);
}

.pet_monitor {
    height: 3490px;
}