.quadrado_p1 {
    border: solid black 1px;
    position: absolute;
    width: 17%;
    height: 10%;
}

.area_p1 {
    left: 5%;
}

.area_p2 {
    left: 30%;
}

.area_p3 {
    right: 30%;
}

.area_p4 {
    right: 5%;
}


/* parte de baixo  */

.area_p5 {
    top: 300px;
    left: 5%;
}

.area_p6 {
    top: 300px;
    left: 30%;
}

.area_p7 {
    top: 300px;
    right: 30%;
}