.tela_site {
    width: 100%;
    height: 100%;
    position: auto;
}

.space_div1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.formulario {
    height: 500px;
    width: 800px;
    border: solid red 2px;
    position: relative;
}